In [1]:
a=10

In [2]:
a

10

In [3]:
if a<15

SyntaxError: invalid syntax (Temp/ipykernel_11372/3513270752.py, line 1)

In [4]:
if a<15:

IndentationError: expected an indented block (Temp/ipykernel_11372/1328255600.py, line 2)

In [5]:
if a<15:
    pass

In [6]:
a<15

True

In [7]:
if a<15:
    print("gunturu is a city")

gunturu is a city

In [8]:
if 10>15:
    print("hindu")

In [9]:
if 10<15:
    print("canada")

canada

In [10]:
24<15

False

In [11]:
24>15

True

In [12]:
if 24 < 15:
    print("lesser")
else:
    print("greater")

greater

In [13]:
if 24 > 15:
    print("greater")
else:
    print("lesser")

greater

In [14]:
salary=100
if salary <50:
    print("chocolate")
elif salary <70:
    print("pizza")
elif salary <90:
    print("burger")
elif salary < 100:
    print("kfc chicken")
else:
    print("nothing")

nothing

In [15]:
salary=100
if salary <=50:
    print("chocolate")
elif salary <=70:
    print("pizza")
elif salary <=90:
    print("burger")
elif salary <= 100:
    print("kfc chicken")
else:
    print("nothing")

kfc chicken

In [17]:
salary=int(input())
if salary <=50:
    print("chocolate")
elif salary <=70:
    print("pizza")
elif salary <=90:
    print("burger")
elif salary <= 100:
    print("kfc chicken")
else:
    print("nothing")

65
pizza

In [18]:
salary=int(input())
if salary <=50:
    print("chocolate")
elif salary <=70:
    print("pizza")
elif salary <=90:
    print("burger")
elif salary <= 100:
    print("kfc chicken")
else:
    print("nothing")

100
kfc chicken

In [19]:
cost=int(input())
if cost==2000:
    discount=cost*.10
    bill=cost-discount
    print(bill)
elif cost == 3000:
    discount=cost*.15
    bill=cost-discount
    print(bill)
elif cost == 5000:
    discount=cost*.20
    bill=cost-discount
    print(bill)
else:
    print("no discount")

1500
no discount

In [21]:
cost=int(input())
if cost==2000:
    discount=cost*.10
    bill=cost-discount
    print("bill after discount:", bill)
elif cost == 3000:
    discount=cost*.15
    bill=cost-discount
    print("bill after discount:",bill)
elif cost == 5000:
    discount=cost*.20
    bill=cost-discount
    print("bill after discount:",bill)
else:
    print("no discount")

2000
bill after discount: 1800.0

In [22]:
cost=int(input())
if cost==2000:
    discount=cost*.10
    bill=cost-discount
    print("bill after discount:", bill)
elif cost == 3000:
    discount=cost*.15
    bill=cost-discount
    print("bill after discount:",bill)
elif cost == 5000:
    discount=cost*.20
    bill=cost-discount
    print("bill after discount:",bill)
else:
    print("no discount")

5000
bill after discount: 4000.0

In [23]:
cost=int(input())
if cost==2000:
    discount=cost*.10
    bill=cost-discount
    print("bill after discount:", bill)
elif cost == 3000:
    discount=cost*.15
    bill=cost-discount
    print("bill after discount:",bill)
elif cost == 5000:
    discount=cost*.20
    bill=cost-discount
    print("bill after discount:",bill)
else:
    print("no discount")

5500
no discount

In [24]:
"raji"=="raji"

True

In [25]:
"raji"="raji"

SyntaxError: cannot assign to literal (Temp/ipykernel_11372/1731839919.py, line 1)

In [26]:
studytime=int(input())
if studytime >= 6:
    print("course will complete in 4 months")
elif studytime >= 4:
    print("course will complete in 6 months")
elif studytime >= 2:
    print("course will complete in 8 months")
elif studytime >= 1:
    print("course will complete in 12 months")
else:
    print("more time to be taken")

3
course will complete in 8 months

In [27]:
studytime=int(input())
if studytime <= 1:
    print("course will complete in 10 months")
elif studytime <= 3:
    print("course will complete in 8 months")
elif studytime <= 5:
    print("course will complete in 6 months")
elif studytime <= 7:
    print("course will complete in 4 months")
else:
    print("more time to be taken")

6.3

ValueError: invalid literal for int() with base 10: '6.3'

In [28]:
studytime=int(input())
if studytime <= 1:
    print("course will complete in 10 months")
elif studytime <= 3:
    print("course will complete in 8 months")
elif studytime <= 5:
    print("course will complete in 6 months")
elif studytime <= 7:
    print("course will complete in 4 months")
else:
    print("more time to be taken")

5
course will complete in 6 months

In [29]:
studytime=float(input())
if studytime <= 1:
    print("course will complete in 10 months")
elif studytime <= 3:
    print("course will complete in 8 months")
elif studytime <= 5:
    print("course will complete in 6 months")
elif studytime <= 7:
    print("course will complete in 4 months")
else:
    print("more time to be taken")

2.5
course will complete in 8 months

In [30]:
studytime=float(input())
if studytime <1 and studytime >0.5:
    print("course will complete in 10 months")
elif studytime > 1 and studytime <2:
    print("course will complete in 8 months")
elif studytime > 2 and studytime <4:
    print("course will complete in 6 months")
elif studytime >4 and studytime < 8:
    print("course will complete in 4 months")
else:
    print("more time to be taken")

2.5
course will complete in 6 months

In [31]:
a=9
if a==9:
    print("valid")

valid

In [32]:
a=10
if a ==9:
    print("skbjdf")
else:
    print("not valid")

not valid

In [33]:
s=input("Enter a mother name:")
a= input("Enter child name:")
b=input("Enter grand child name:")

if s=="ramana":
    if a=="ramakanth":
        if b=="dattu":
            print("grand son of", s)
        elif b=="ramya":
            print("grand daughter of ",s)
        else:
            print("not the grand child of", s)
    elif a=="rambabu":
        if b=="tinku":
            print("small grand daughter of ", s)
        else:
            print("not the child of", a)
    elif a=="ramadevi":
        if b=="raji":
            print("elder grand daughter of", s)
        elif b=="manasa":
            print("small grand daughter of ", s)
        else:
            print("not the daughters of", a)
    else:
        print("not the children of", s)
elif s=="saaradhi":
    if a=="srinivasarao":
        if b=="ravi":
            print("elder son of", a)
        elif b=="bhanu":
            print("small son of ", a)
        else:
            print("not the sons of", a)
    elif a=="seshu":
        if b=="karthik":
            print("only son of ", a)
        else:
            print("not the son of", a)
    else:
        print("not the grand children of ", s)
else:
    print("not the grand children of ramana and saradhi")

Enter a mother name:ramana
Enter child name:ramadevi
Enter grand child name:raji
elder grand daughter of ramana

In [34]:
s=input("Enter a mother name:")
a= input("Enter child name:")
b=input("Enter grand child name:")

if s=="ramana":
    print("ramakanth rambabu ramadevi")
    if a=="ramakanth":
        print("dattu ramya")
        if b=="dattu":
            print("grand son of", s)
        elif b=="ramya":
            print("grand daughter of ",s)
        else:
            print("not the grand child of", s)
    elif a=="rambabu":
        print("tinku")
        if b=="tinku":
            print("small grand daughter of ", s)
        else:
            print("not the child of", a)
    elif a=="ramadevi":
        print("raji manasa")
        if b=="raji":
            print("elder grand daughter of", s)
        elif b=="manasa":
            print("small grand daughter of ", s)
        else:
            print("not the daughters of", a)
    else:
        print("not the children of", s)
elif s=="saaradhi":
    print("srinivasarao seshu")
    if a=="srinivasarao":
        print("ravi bhanu")
        if b=="ravi":
            print("elder son of", a)
        elif b=="bhanu":
            print("small son of ", a)
        else:
            print("not the sons of", a)
    elif a=="seshu":
        print("karthik only")
        if b=="karthik":
            print("only son of ", a)
        else:
            print("not the son of", a)
    else:
        print("not the grand children of ", s)
else:
    print("not the grand children of ramana and saradhi")

Enter a mother name:saradhi
Enter child name:seshu
Enter grand child name:kartheek
not the grand children of ramana and saradhi

# for loop

In [35]:
l=[1,2,3,4,5,6,7]
for i in l

SyntaxError: invalid syntax (Temp/ipykernel_11372/1558352779.py, line 2)

In [36]:
l=[1,2,3,4,5,6,7]
for i in l:
    print(i)

1
2
3
4
5
6
7

In [37]:
l=[1,2,3,4,5,6,7]
for i in l:
    pass

In [38]:
for i in "raji":
    print(i)

r
a
j
i

In [39]:
t=(1,2,3,4,5,6,7,8,9)
for i in t:
    print(i)

1
2
3
4
5
6
7
8
9

In [40]:
for i in t:
    print(type(i), "type of", i)

<class 'int'> type of 1
<class 'int'> type of 2
<class 'int'> type of 3
<class 'int'> type of 4
<class 'int'> type of 5
<class 'int'> type of 6
<class 'int'> type of 7
<class 'int'> type of 8
<class 'int'> type of 9

In [43]:
t=(1,2,3,3.2,6+4j,True,7,8,9,"raji","pavan")

In [44]:
for i in t:
    print(type(i), "type of", i)

<class 'int'> type of 1
<class 'int'> type of 2
<class 'int'> type of 3
<class 'float'> type of 3.2
<class 'complex'> type of (6+4j)
<class 'bool'> type of True
<class 'int'> type of 7
<class 'int'> type of 8
<class 'int'> type of 9
<class 'str'> type of raji
<class 'str'> type of pavan

In [45]:
type("raji")

str

In [46]:
type(100)

int

In [47]:
type((1,2,3))

tuple

In [48]:
l=[4,5,6,"raji","pavan",3.2,True,4+2j]

In [49]:
a=[1,2,3,4]

In [50]:
for i in a:
    print(i)

1
2
3
4

In [51]:
for i in a:
    print(i+2)

3
4
5
6

In [52]:
a1=[]
for i in a:
    a1.append(i+2)
print(a1)

[3, 4, 5, 6]

In [53]:
a1=[] # this is wrong method
for i in a:
    a1.append(i+2)
    print(a1)

[3]
[3, 4]
[3, 4, 5]
[3, 4, 5, 6]

In [54]:
l

[4, 5, 6, 'raji', 'pavan', 3.2, True, (4+2j)]

In [55]:
b=[4, 5, 6,[1,2,3],(10,20,30), 'raji', 'pavan', 3.2, True, (4+2j)]

In [56]:
b

[4, 5, 6, [1, 2, 3], (10, 20, 30), 'raji', 'pavan', 3.2, True, (4+2j)]

In [57]:
for i in b:
    if type(i)==int:
        print(i)

4
5
6

In [59]:
for i in b:
    if type(i)==list:
        for j in i:
            print(j)

1
2
3

In [60]:
for i in b:
    if type(i)==tuple:
        for j in i:
            print(j)

10
20
30

In [61]:
a

[1, 2, 3, 4]

In [62]:
b

[4, 5, 6, [1, 2, 3], (10, 20, 30), 'raji', 'pavan', 3.2, True, (4+2j)]

In [63]:
for i in b:
    if type(i)==int:
        print(i)
    elif type(i)==list:
        for j in i:
            print(j)
    elif type(i)==tuple:
        for k in i:
            print(k)

4
5
6
1
2
3
10
20
30

In [64]:
l = [2,45,78,12,12,12,12,"sudh" , 6+7j,[56,67,78,"dsfdsf"]]
# try to print index of all the element 
# Try to extract all the list of char if element is string 
# Try to return a list after doing a square of all the int
# element

In [65]:
l

[2, 45, 78, 12, 12, 12, 12, 'sudh', (6+7j), [56, 67, 78, 'dsfdsf']]

In [66]:
for i in l:
    print(type(i), "type of", i)

<class 'int'> type of 2
<class 'int'> type of 45
<class 'int'> type of 78
<class 'int'> type of 12
<class 'int'> type of 12
<class 'int'> type of 12
<class 'int'> type of 12
<class 'str'> type of sudh
<class 'complex'> type of (6+7j)
<class 'list'> type of [56, 67, 78, 'dsfdsf']

In [69]:
range(10)

range(0, 10)

In [71]:
range(0,10)

range(0, 10)

In [72]:
len(10)

TypeError: object of type 'int' has no len()

In [73]:
len(range(10))

10

In [75]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [76]:
len(l)

10

In [78]:
for i in range(len(l)):
    print("index of",l[i],"is",i)

index of 2 is 0
index of 45 is 1
index of 78 is 2
index of 12 is 3
index of 12 is 4
index of 12 is 5
index of 12 is 6
index of sudh is 7
index of (6+7j) is 8
index of [56, 67, 78, 'dsfdsf'] is 9

In [79]:
for i in range(len(l)):
    print(i,l[i])

0 2
1 45
2 78
3 12
4 12
5 12
6 12
7 sudh
8 (6+7j)
9 [56, 67, 78, 'dsfdsf']

In [80]:
for i in enumerate(l):
    print(i)

(0, 2)
(1, 45)
(2, 78)
(3, 12)
(4, 12)
(5, 12)
(6, 12)
(7, 'sudh')
(8, (6+7j))
(9, [56, 67, 78, 'dsfdsf'])

In [81]:
for i,j in enumerate(l):
    print(i,j)

0 2
1 45
2 78
3 12
4 12
5 12
6 12
7 sudh
8 (6+7j)
9 [56, 67, 78, 'dsfdsf']

In [82]:
l

[2, 45, 78, 12, 12, 12, 12, 'sudh', (6+7j), [56, 67, 78, 'dsfdsf']]

In [83]:
for i in l:
    if type(i)==str:
        l1=[]
        for j in i:
            l1.append(j)
        print(l1)

['s', 'u', 'd', 'h']

In [84]:
for i in l:# not correct
    if type(i)==str:
        l1=[]
        for j in i:
            l1.append(j)
            print(l1)

['s']
['s', 'u']
['s', 'u', 'd']
['s', 'u', 'd', 'h']

In [85]:
a=["raji","pavan","sanvi","seivi"]

In [86]:
for i in a:
    if type(i)==str:
        a1=[]
        for j in i:
            a1.append(j)
        print(a1)

['r', 'a', 'j', 'i']
['p', 'a', 'v', 'a', 'n']
['s', 'a', 'n', 'v', 'i']
['s', 'e', 'i', 'v', 'i']

In [87]:
a=["raji","pavan","sanvi","seivi",10,2,3,4,[10,20,30]]

In [88]:
a

['raji', 'pavan', 'sanvi', 'seivi', 10, 2, 3, 4, [10, 20, 30]]

In [89]:
for i in a:
    if type(i)==int:
        print(i**2)

100
4
9
16

In [96]:
a2=[]
for i in a:
    if type(i)==int:
        a2.append(i**2)
print(a2)

[100, 4, 9, 16]

In [98]:
s="pavankumar"
for i in s:
    if  type(s)==str:
        print("index is",i,"for",s[i])

TypeError: string indices must be integers

In [99]:
s="pavankumar"

In [100]:
len(s)

10

In [106]:
for i in range(len(s)):
    print(s[i])

p
a
v
a
n
k
u
m
a
r

In [116]:
for i in range(len(s)):
    print(s[-i])

p
r
a
m
u
k
n
a
v
a

In [117]:
"""this is mentioned as a docstring"""

'this is mentioned as a docstring'